@model IEnumerable<Club>

<main>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var club in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225px" src="@club.Image" />
                            <div class="card-body">
                                <p class="card-text">@club.Title</p>
                                <p class="card-text">@club.Description</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">@club.ClubCategory</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>